// out: ../../../content/css/components/aside.css, compress: true
@import 'variables.less';
// Name:            aside
// Description:     Defines styles to create layouts with aside
//
// Component:       '.aside__*'
//                  '.aside__*'
//
// -------------------------------------------------
// Block '.aside'
// -------------------------------------------------
.aside{
    position: fixed;
    top: @top-menu-height;
    left: 0;
    bottom: 0;
    width: @aside-width;
    padding: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    font-weight: 500;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;

    // -------------------------------------------------
    // All modificators
    // -------------------------------------------------

    // Modificator '.aside.aside--parts'
    &.aside--parts{
        padding-top: 185px;
    }

    // Modificator '.aside.aside--new'
    &.aside--new{
        
        // Modificator '.aside.aside--new.aside--submenu'
        &.aside--submenu{
            background: @color-blue;

            .aside__menu{

                &-item,
                &-text{
                    color: #fff;
                }

                &-item{
                    &:hover{
                        background: #4fb1ff;
                        border-color: transparent;
                    }
                }

                &-icon{
                    color: #77c3ff;
                }
            }
        }
    }

    // Modificator '.aside.aside--submenu'
    &&--submenu{
        width: @aside-wide-width;
        box-shadow: none;
        color: #90a4ae;
        left: -@aside-wide-width;
        transition: all 300ms;
        z-index: 8;

        // State '.open .aside.aside--submenu'
        .open &{
            box-shadow: 10px 0px 40px 0 rgba(0, 0, 0, 0.3);
            left: @aside-width;
        }
        
        // Modificator '.aside.aside--submenu .aside__menu'
        .aside__menu{

            // Modificator '.aside.aside--submenu .aside__menu-item'
            &-item{
                padding-left: 25px;

                // Action '.aside.aside--submenu .aside__menu-item:hover'
                &:hover{
                    border-color: transparent;
                    background: rgba(9, 30, 66, 0.065);
                }
            }

            // Modificator '.aside.aside--submenu .aside__menu-link'
            &-link{
                text-align: left;
            }

            // Modificator '.aside.aside--submenu .aside__menu-text'
            &-text{
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-size: 0.8rem;
                line-height: 1rem;
                font-weight: 300;
                margin-left: 5px;
                color: #636363;
            }
        }
    }

    // -------------------------------------------------
    // All elements
    // -------------------------------------------------

    // Element '.aside .aside__balance'
    & &__balance{
        position: relative;

        &-content{
            position: relative;
            overflow: hidden;
            padding: 10px 0;
            color: #263238;
            background-color: #e7f3ff;
            text-align: center;
            font-weight: 400;
            font-size: 0.8rem;
            border-bottom: 1px solid #c8e3ff;
            text-shadow: 0 1px 0 #fff;

            &:before{
                // content: '\e850';
                content: '\e91b';
                font-family: @font-icon;
                position: absolute;
                // color: rgba(52, 134, 219, 0.15);
                color: #cde3fa;
                font-size: 7rem;
                bottom: -20px;
                z-index: 1;
            }
        }

        &-tarif{
            position: relative;
            z-index: 2;
            margin: 0;
            font-weight: 600;
        }

        &-price{
            position: relative;
            z-index: 2;
            font-size: 1rem;
            margin: 10px 0;
            font-weight: 700;
        }

        &-more{
            position: relative;
            z-index: 2;
            font-size: 0.7rem;
            margin: 5px 0 0 0;
            
            color: #fff;

            .link{
                padding: 3px 12px;
                background-color: @color-orange;
                border-radius: 40px;
                text-shadow: none;
            }
        }

        // &-payment{
        //     position: absolute;
        //     top: 50%;
        //     right: -15px;
        //     display: inline-block;
        //     width: 30px;
        //     height: 30px;
        //     line-height: 18px;
        //     background: @color-blue;
        //     border-radius: 40px;
        //     color: #fff;
        //     margin-top: -15px;
        //     border: 4px solid;
        //     font-size: 1rem;
        //     text-align: center;
        //     box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.1);
        //     z-index: 5;
        // }
    }

    // Element '.aside .aside__add'
    & &__add{
        padding: 20px 0 10px;
    }

    // Element '.aside .aside__menu'
    & &__menu{
        padding: 10px 0;

        &-item{
            position: relative;
            color: #71848e;

            &.hover{
                &:after{
                    content: '';
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    margin-top: -10px;
                    border: 10px solid transparent;
                    border-left-color: #fff;
                }
            }

            &.active{
                border-color: @color-blue;
                color: #647a88;
            }

            &.aside__menu-item--submenu{

                &:hover{
                    background-color: transparent;
                    border-color: transparent;
                }
            }

            &.aside__menu-item--parent{
                &:hover{

                    .aside__menu-submenu{
                        left: 100%;
                    }
                }
            }
        }

        // Element '.aside .aside__menu-count'
        &-count{
            position: absolute;
            right: 10px;
            top: 50%;
            font-size: 0.8rem;
            margin-top: -10px;
            background: #eee;
            padding: 3px 10px;
            border-radius: 100px;
            
        }

        // Element '.aside .aside__menu-link'
        &-link{
            position: relative;
            display: block;
            padding: 10px 0 10px 10px;
            color: inherit;
            border-left: 3px solid transparent;
            transition: all 250ms;

            &:hover{
                background-color: rgba(3, 169, 244, 0.05);
                border-color: rgba(3, 169, 244, 0.5);
                color: #647a88;
            }
            
            // Element '.aside .aside__menu-link.aside__menu-link--sublink'
            &.aside__menu-link--sublink{
                padding-left: 40px;
            }
        }

        &-icon{
            font-size: 1.6rem;
            vertical-align: middle;
        }

        &-text{
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 6px;
            vertical-align: middle;
            font-weight: 400;
        }

        &-submenu{
            position: absolute;
            top: 0;
            left: -300px;
            width: 200px;
            background: #fff;
            padding: 20px;
            transition: left 200ms ~"ease-in-out" 200ms;

            &.aside__menu-submenu--full{
                bottom: 0;
            }
        }
    }

}
