// out: ../../../content/css/components/gallery.css, compress: true
@import 'variables.less';
// Name:            gallery
// Description:     Defines styles to create layouts with gallery
//
// ----------------------------------------------------
// Block '.gallery'
// ----------------------------------------------------
.gallery {
    position: relative;

    &&--parts{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        flex-wrap: wrap;

        .gallery__item{
            position: relative;
            width: 22%;
            border: 2px solid #e6ecef;
            padding: 0;
            border-radius: 4px;
            // min-height: 140px;
            margin: 0 1.5% 10px;

            display: flex;
            align-items: center;
            cursor: pointer;

            font-size: 0;

            &:hover{
                &:after{
                    content: 'Сделать титульной';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    background: rgba(0, 0, 0, .6);
                    height: 25px;
                    line-height: 25px;
                    color: #fff;
                    font-size: .7rem;
                    text-align: center;
                }
            }


            &.gallery__item--active{

                &:hover{

                    &:after{
                        content: 'Титульная';
                        position: absolute;
                        top: 5px;
                        left: 0;
                        right: 0;
                        width: 100%;
                        background: rgba(1, 169, 244, .8);
                        height: 25px;
                        line-height: 25px;
                        color: #fff;
                        font-size: .7rem;
                        text-align: center;
                    }
                }
            
            }

            &-delete{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 20px;
                height: 20px;
                padding: 0;
                // border: 2px solid @color-red;
                text-align: center;
                // border-radius: 100px;
                border: none;
                color: #fff;
                font-size: 1rem;
                background: @color-red;
                outline: none;
                box-shadow: none;
                cursor: pointer;
                z-index: 10;                

                .icon{
                    width: 20px;
                    height: 20px;
                    vertical-align: top;

                    &:before{
                        position: relative;
                        left: -1px;
                        top: 1px;
                        margin: 0;
                    }
                }
            }

            &-rotate{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 20px;
                height: 20px;
                padding: 0;
                background: #e6ecef;
                border: none;
                color: #808080;
                text-align: center;
                font-size: 1rem;
                outline: none;
                box-shadow: none;
                cursor: pointer;
                z-index: 10;

                .icon{
                    width: 20px;
                    height: 20px;
                    vertical-align: top;

                    &:before{
                        position: relative;
                        left: -1px;
                        top: 1px;
                        margin: 0;
                    }
                }
            }
        
            &-img{
                max-height: 120px;
            }
        }
    }


    // -----------------------------------------
    // All modificators
    // -----------------------------------------


    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.gallery .gallery__item'
    & &__item{

    }
}

// -------------------------------------------------------
// Size 'Large'
// -------------------------------------------------------
@media (min-width: @breakpoint-lg-min) and (max-width: @breakpoint-lg-max) {

    .gallery{

        &&--parts{


        }
    }
}

// -------------------------------------------------------
// Size 'Medium'
// -------------------------------------------------------
@media (min-width: @breakpoint-md-min) and (max-width: @breakpoint-md-max) {

    .gallery{

        &&--parts{
            flex-wrap: wrap;        

            .gallery__item{
                width: 31%;
            }
        }
    }
}

// -------------------------------------------------------
// Size 'Small'
// -------------------------------------------------------
@media (min-width: @breakpoint-sm-min) and (max-width: @breakpoint-sm-max) {

    .gallery{

        &&--parts{
            flex-wrap: wrap;        

            .gallery__item{
                width: 31%;
            }
        }
    }
}

// -------------------------------------------------------
// Size 'xSmall'
// -------------------------------------------------------
@media (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max) {

    .gallery{

        &&--parts{
            flex-wrap: wrap;            

            .gallery__item{
                width: 48%;
            }
        }
    }
}