// out: ../../../content/css/components/panel.css, compress: true
@import 'variables.less';
//
// ----------------------------------------------------
// Block '.panel'
// ----------------------------------------------------
.panel {
    position: relative;
    border-radius: 4px;

    & + &{
        margin-top: 20px;
    }
    
    // -----------------------------------------
    // All modificators
    // -----------------------------------------
    
    // Modificator '.panel.panel--sm'
    &&--sm{
        
        // Element '.panel.panel--sm .panel__content'
        .panel__content{
            padding: (@panel-padding / 2);
        }
        
        // Element '.panel.panel--sm + .panel--sm'
        & + .panel--sm{
            margin-top: 10px;
        }
        
    }

    // Modificator '.panel.panel--nop'
    &&--nop{

        .panel__content{
            padding: 0;
        }
    }

    // Modificator '.panel.panel--shadow'
    &&--shadow{
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
    }

    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.panel .panel__header'
    & &__header{
        position: relative;
        padding: @panel-padding;
        background: #fff;
        border-radius: 4px 4px 0 0;
        color: #444;
        font-size: .9rem;
        font-weight: 100;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: @panel-padding;
            right: @panel-padding;
            border-bottom: 1px solid #eee;
        }
        
        + .panel__content{
            padding-top: @panel-padding;
            border-radius: 0 0 4px 4px;
        }
    }

    // Element '.panel .panel__content'
    & &__content{
        padding: @panel-padding;
        background: #fff;
        border-radius: 4px;
    }

}


// -------------------------------------------------------
// Size 'xSmall'
// -------------------------------------------------------
@media (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max) {

    // ----------------------------------------------------
    // Block '.panel'
    // ----------------------------------------------------
    .panel {
        
        // Element '.panel .panel__content'
        & &__content{
            padding: 10px;
        }
    }
}