// out: ../../../content/css/components/panel.css, compress: true
@import 'variables.less';
// Name:            panel
// Description:     Defines styles to create layouts with panel
//
//
// Component:       `.panel__*`
// ----------------------------------------------------
// Block '.panel'
// ----------------------------------------------------
.panel {
    position: relative;
    border-radius: 4px;

    & + &{
        margin-top: 20px;
    }
    
    // -----------------------------------------
    // All modificators
    // -----------------------------------------

    // Modificator '.panel.panel--sm'
    &&--sm{

        .panel__content{
            padding: (@panel-padding / 2);
        }
    }

    // Modificator '.panel.panel--shadow'
    &&--shadow{
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
    }

    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.panel .panel__content'
    & &__content{
        padding: @panel-padding;
        background: #fff;
        border-radius: 4px;
    }

}
