// out: ../../../content/css/components/parts.css, compress: true
@import 'variables.less';
// Name:            parts
// Description:     Defines styles to create layouts with parts
//
// Component:       `.parts__*`
// ----------------------------------------------------
// Block '.parts'
// ----------------------------------------------------
.parts {
    position: relative;

    // -----------------------------------------
    // All modificators
    // -----------------------------------------


    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.parts .parts__panel'
    & &__panel{
        
        // Element '.parts .parts__panel:hover'
        &:hover{
            
            // Element '.parts .parts__panel:hover .parts__action'
            .parts__action{
                display: block;
            }
            
            // Element '.parts .parts__panel:hover .parts__date'
            .parts__date{
                display: none;
            }
            
            // Element '.parts .parts__panel:hover .parts__stat'
            .parts__stat{
                
                // Element '.parts .parts__panel:hover .parts__stat .badge'
                .badge{
                    color: #777;
                    border-color: #eee;
                    padding-left: 0;
                    transition: width 350ms ease-out, border-color 350ms ease-out;
                    
                    // Element '.parts .parts__panel:hover .parts__stat .badge__icon'
                    &__icon{
                        padding: 5px;
                        width: auto;
                        visibility: visible;
                        opacity: 1;
                        transition: opacity 350ms ease-out;
                    }
                }
            }   
        }

        .panel__content{
            padding-left: 10px;
        }
    }

    // Element '.parts .parts__activity'
    & &__activity{
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 3px;
        border-radius: 0 4px 4px 0;
        background-color: #ddd;
        z-index: 2;

        &.parts__activity--success{
            background-color: #8bc34a;
        }
        &.parts__activity--error{
            background-color: #ff6c6c;
        }
    }

    // Element '.parts .parts__check'
    & &__check{
        float: left;
        width: 3%;
        min-width: 30px;
        margin-top: 30px;
        text-align: center;
    }
    
    // Element '.parts .parts__img'
    & &__img{
        position: relative;
        float: left;
        // width: 5%;
        width: 80px;
        margin-top: 10px;
        margin-right: 1%;
        min-height: 50px;
        
        // Element '.parts .parts__img-img'
        &-img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        // Element '.parts .parts__img img'
        img{
            visibility: hidden;
            opacity: 0;
        }
    }

    // Element '.parts .parts__name'
    & &__name{
        padding: @parts-padding (@parts-padding / 2);
        float: left;
        width: 35%;
        
        // Element '.parts .parts__name .splite'
        .splite{
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px dotted #ddd;
        }
        
        // Element '.parts .parts__name-title'
        &-title{
            display: block;
            margin: 0;
            font-weight: 500;
            font-size: 0.8rem;
        }
        
        // Element '.parts .parts__name-subtitle'
        &-subtitle{
            display: block;
            font-weight: 600;
            font-size: 0.8rem;
            margin: 5px 0 0 0;
        }
    }

    // Element '.parts .parts__sort'
    & &__sort{
        margin-bottom: 10px;
        text-align: center;
        // border-bottom: 1px solid #ddd;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
        
        // Element '.parts .parts__sort .link'
        .link{
            padding: 10px 10px 8px;
            text-decoration: none;
            color: #bbb;
            font-size: 0.9rem;
            border-bottom: 2px solid transparent;
            
            // Status '.parts .parts__sort .link.action'
            &.active{
                border-bottom-color: @color-blue;
                color: #333;
                font-weight: 600;
            }
        }
    }

    // Element '.parts .parts__desc'
    & &__desc{
        float: left;
        width: 32%;
        padding: @parts-padding (@parts-padding / 2);        
    
        &-text{
            margin: 0;
            color: #999;
            font-size: .8rem;

            b{
                white-space: nowrap;
                color: #444;
                font-weight: 700;
            }
        }
    }

    // Element '.parts .parts__price'
    & &__price{
        float: left;
        padding: @parts-padding 0;
        width: 14%;
        text-align: center;
        
        // Element '.parts .parts__price-text'
        &-text{
            border-radius: 4px;
            font-size: 1.1rem;
            font-weight: 600;
            margin: 5px 0 0 0;
        }
    }

    // Element '.parts .parts__sale'
    & &__sale{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.2rem;
        color: @color-orange;
    }

    // Element '.parts .parts__date'
    & &__date{
        display: block;
        margin-top: 10px;
        font-size: .8rem;
        color: #999;
        line-height: 20px;
    }

    // Element '.parts .parts__action'
    & &__action{
        display: none;
        margin: 10px 0 3px 0;
        transition: all 250ms;
        
        // Element '.parts .parts__action .btn'
        .btn{
            width: 18px;
            height: 18px;
            background: #eee;
            color: #888;
            padding: 0;
            line-height: 18px;
            font-size: 0.6rem;
        }
    }

    // Element '.parts .parts__stat'
    & &__stat{
        float: left;
        padding: @parts-padding 0;
        width: 8%;
        
        // Element '.parts .parts__stat .badge'
        .badge{
            padding: 0 10px 0 24px;
            font-weight: 600;
            font-size: 0.7rem;
            height: 26px;
            line-height: 21px;
            border-color: transparent;
            color: #ddd;
            
            // Element '.parts .parts__stat .badge + .badge'
            & + .badge{
                margin-top: 8px;
            }
            
            // Element '.parts .parts__stat .badge__icon'
            &__icon{
                visibility: hidden;
                background: #eee;
                border-radius: 100px;
                padding: 0;
                width: 0;
                color: #333;
                font-size: 0.85rem;
                opacity: 0;
            }
        }
    }
}


// -------------------------------------------------------
// Size 'xSmall'
// -------------------------------------------------------
@media (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max) {

    // ----------------------------------------------------
    // Block '.parts'
    // ----------------------------------------------------
    .parts {

        // Element '.parts .parts__sort'
        & &__sort{
            white-space: nowrap;
            overflow: auto;
        }

        // Element '.parts .parts__scroll'
        & &__scroll{
            white-space: nowrap;
        }

        // Element '.parts .parts__activity'
        & &__activity{
            visibility: hidden;
        }

        // Element '.parts .parts__check'
        & &__check{
            width: 15%;
        }

        // Element '.parts .parts__name'
        & &__name{
            width: 100%;
            padding: 5px 15px;
        }

        // Element '.parts .parts__desc'
        & &__desc{
            width: 100%;
            padding: 5px 15px;
        }

        // Element '.parts .parts__stat'
        & &__stat{
            width: 50%;
            padding: 5px 15px;
            
            // Element '.parts .parts__stat .badge'
            .badge{
                color: #777;
                border-color: #eee;
                padding-left: 0;
                transition: width 350ms ease-out, border-color 350ms ease-out;

                & + .badge{
                    margin-top: 0;
                }

                &__icon{
                    padding: 5px;
                    width: auto;
                    visibility: visible;
                    opacity: 1;
                    transition: opacity 350ms ease-out;
                }
            }
        }
        
        // Element '.parts .parts__price'
        & &__price{
            width: 50%;
            padding: 5px 15px;
        }
    }
}