
<div class="container parts add">
    <div class="grid import">
        <div class="col--xlg-1-1 col--lg-1-1 col--md-1-1 col--sm-1-1 col--xs-1-1">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-pie-chart"></i>
                </span>
                <p class="header__title">
                    Статистика
                </p>
            </div>
        </div>
        <div class="col--xlg-3-5 col--lg-3-5 col--md-3-5 col--sm-1-1 col--xs-1-1">
            <div class="add__group panel panel--shadow">
                <div class="tab">
                    <ul class="tab__menu tab__menu--h">
                        <li class="tab__item">
                            <a href="" class="tab__link">Февраль</a>
                        </li>
                        <li class="tab__item">
                            <a href="" class="tab__link">Март</a>
                        </li>
                        <li class="tab__item active">
                            <a href="" class="tab__link">Апрель</a>
                        </li>
                    </ul>
                    
                    <div class="tab__content">
                        <div class="tab__pane active" id="tab1">
                            <div class="add__date">
                                24 апреля
                            </div>
                            <ul class="list list--of-from m--b">
                                <li class="list__item" ng-repeat="item in statisticArray">
                                    <div class="list__item-of">
                                        <p class="t--sm t--muted m--reset">{{item.modal}}</p>
                                        <p class="t--md t--bold m--reset">{{item.part}}</p>
                                    </div>
                                    <div class="list__item-from t--c">
                                        <p class="t--md t--bold m--reset">{{item.count}}</p>
                                        <p class="t--sm t--muted t--light m--reset">показа</p>
                                    </div>
                                </li>
                            </ul>
    
                            <div class="add__date">
                                22 апреля
                            </div>
                            <ul class="list list--of-from m--b">
                                <li class="list__item" ng-repeat="item in statisticArray">
                                    <div class="list__item-of">
                                        <p class="t--sm t--muted m--reset">{{item.modal}}</p>
                                        <p class="t--md t--bold m--reset">{{item.part}}</p>
                                    </div>
                                    <div class="list__item-from t--c">
                                        <p class="t--md t--bold m--reset">{{item.count}}</p>
                                        <p class="t--sm t--muted t--light m--reset">показа</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="add__date">
                            24 марта
                        </div>
                        <ul class="list list--of-from m--b">
                            <li class="list__item" ng-repeat="item in statisticArray">
                                <div class="list__item-of">
                                    <p class="t--sm t--muted m--reset">{{item.modal}}</p>
                                    <p class="t--md t--bold m--reset">{{item.part}}</p>
                                </div>
                                <div class="list__item-from t--c">
                                    <p class="t--md t--bold m--reset">{{item.count}}</p>
                                    <p class="t--sm t--muted t--light m--reset">показа</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="col--xlg-2-5 col--lg-2-5 col--md-2-5 col--sm-1-1 col--xs-1-1">
            <div class="panel panel--shadow">
                <div class="panel__header flex flex--middle flex--space-between">
                    <div>
                        <p class="t--bold m--reset">Получать статистику за неделю</p>
                        <small class="t--muted t--sm">Статистика каждую неделю будет автоматически приходить вам на email</small>
                    </div>
                </div>
                <div class="panel__content">
                    <div class="checkbox d--ib">
                        <input class="checkbox__input" type="checkbox" id="emailSend">
                        <label for="emailSend" class="checkbox__label">Получать рассылку на email ( <span class="link link--dashed t--black">shipik2008@gmail.com</span> )</label>
                    </div>
                </div>
            </div>
            
            <div class="panel panel--shadow">
                <div class="panel__header flex flex--middle flex--space-between">
                    <div>
                        <p class="t--bold m--reset">Общее количество показов</p>
                        <small class="t--muted t--sm">Общее количество показов всех объявлений по дням</small>
                    </div>
                </div>
                <div class="panel__content">
                    <ul class="list list--of-from m--b">
                        <li class="list__item" data-ng-repeat="item in arrayCounts">
                            <div class="list__item-of">
                                <p class="t--md t--bold m--t-mini">{{item.date}}</p>
                            </div>
                            <div class="list__item-from t--c">
                                <p class="t--md t--bold m--reset">{{item.phone}}</p>
                                <p class="t--sm t--muted t--light m--reset">телефонов</p>
                            </div>
                            <div class="list__item-from t--c">
                                <p class="t--md t--bold m--reset">{{item.view}}</p>
                                <p class="t--sm t--muted t--light m--reset">показов</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
