<!-- <section data-ng-include="'view/ui/filter/filter-rent-flat.html'"></section> -->

<div class="container">

    <div class="header m--v">
        <div class="grid">
            <div class="col--3-10">
                <span class="header__icon">
                    <i class="icon icon-air-filter"></i>
                </span>
                <p class="header__title">
                    Новые запчасти
                </p>
                <!-- <p class="header__breadcrumb">
                    <a href="/" class="link link--dashed header__title-text">Главная</a>
                    <a href="/" class="link link--dashed header__title-text">Запчасти</a>
                </p> -->
            </div>
            <div class="col--7-10">
                <div class="header__btn">                    
                    <button class="btn" data-ng-model="showFilter" uib-btn-checkbox>
                        <span class="btn__text">Фильтр</span>
                        <i class="btn__icon icon-filter_list"></i>
                    </button>
                                        
                    <a href="#!/parts/add" class="btn btn--blue">
                        <i class="btn__icon icon-home"></i>
                        <span class="btn__text">Добавить запчасть</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="parts">
        <div class="panel panel--shadow panel--sm" data-ng-repeat="item in parts">
            <div class="panel__content clearfix">
                <div class="parts__top">
                    <p class="text">
                        <i class="icon icon-schedule"></i>
                        <span>22.02.2017</span>
                    </p>
                </div>
                <div class="parts__check">
                    <div class="checkbox checkbox--empty checkbox--sm">
                        <input class="checkbox__input" type="checkbox" id="{{$index}}" name="{{$index}}">
                        <label for="{{$index}}" class="checkbox__label"></label>
                    </div>
                </div>
                <div class="parts__img">
                    <img src="https://static.baza.farpost.ru/v/1426727982063_bulletin" alt="">
                    <div class="parts__img-activity">
                        <i class="parts__img-activity-active icon icon-check"></i>
                        <!-- <i class="parts__img-activity-inactive icon icon-close"></i>  -->
                    </div>
                </div>
                <!-- <div class="parts__activity">
                     <i class="parts__activity-active icon icon-check"></i> 
                     <i class="parts__activity-inactive icon icon-close"></i> 
                </div> -->
                <div class="parts__name">
                    <p class="parts__name-title">
                        <span>Mercedes-Benz</span>
                        <span class="splite">A170 (W168)</span>
                        <span class="splite">2003 г.</span>
                    </p>
                    <p class="parts__name-subtitle">
                        Механизм стеклоочистителя (трапеция дворников)
                    </p>
                </div>
                <div class="parts__desc">
                    <p class="m--reset t--sm t--muted">Оригинальный номер: <b>A2128101821 A212 810 18</b></p>
                    <p class="m--reset t--sm t--muted">Артикул: <b>4847381</b></p>
                    <p class="m--reset t--md">описание</p>
                    <p class="m--reset t--md">складская информация</p>
                </div>
                <div class="parts__price">
                     <p class="parts__price-text"> 
                        123 <small class="t--sm">руб.</small>
                     </p> 
                    <p class="t--muted t--sm m--reset">Скидка 20%</p>
                </div>
            </div>
        </div>
    </div>
</div>
