.dash-stat .dash-stat__icon {
  display: inline-block;
  width: 77px;
  height: 77px;
  padding: 25px;
  background: #f6f6f6;
  font-size: 1.5rem;
  color: #a0a0a0;
  border-radius: 100px;
  margin-right: 20px;
  vertical-align: top;
  transition: all 350ms;
}
.dash-stat .dash-stat__item {
  float: left;
  width: 33.333333%;
  padding: 0 30px;
  margin: 20px 0;
  text-align: center;
}
.dash-stat .dash-stat__item + .dash-stat__item {
  border-left: 1px solid #eee;
}
.dash-stat .dash-stat__content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.dash-stat .dash-stat__title {
  display: block;
  margin: 12px 0 4px;
  color: #777;
}
.dash-stat .dash-stat__number {
  display: block;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
}
.dash-stat .dash-stat__count {
  margin: 0;
  color: #999;
  font-weight: 100;
  font-size: .75rem;
}
