.gallery {
  position: relative;
}
.gallery.gallery--parts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery.gallery--parts .gallery__item {
  position: relative;
  width: 25%;
  border: 2px solid #e6ecef;
  padding: 10px;
  border-radius: 4px;
  min-height: 140px;
  margin: 0 12px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.gallery.gallery--parts .gallery__item:after {
  content: 'Сделать титульной';
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: .7rem;
  text-align: center;
}
.gallery.gallery--parts .gallery__item.gallery__item--active:after {
  content: 'Титульная';
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(1, 169, 244, 0.8);
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.gallery.gallery--parts .gallery__item-delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 2px solid #f44336;
  text-align: center;
  border-radius: 100px;
  color: #f44336;
  font-size: 1.4rem;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  z-index: 10;
}
.gallery.gallery--parts .gallery__item-delete .icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
.gallery.gallery--parts .gallery__item-delete .icon:before {
  position: relative;
  left: -1px;
  top: -1px;
  margin: 0;
}
.gallery.gallery--parts .gallery__item-rotate {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #e6ecef;
  border: none;
  color: #808080;
  text-align: center;
  font-size: 1.4rem;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  z-index: 10;
}
.gallery.gallery--parts .gallery__item-rotate .icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
.gallery.gallery--parts .gallery__item-rotate .icon:before {
  position: relative;
  left: -1px;
  top: -1px;
  margin: 0;
}
.gallery.gallery--parts .gallery__item-img {
  margin-right: 20px;
  max-height: 120px;
}
@media (min-width: 1220px) and (max-width: 1599px) {
  .gallery.gallery--parts .gallery__item {
    width: 50%;
  }
}
@media (min-width: 1024px) and (max-width: 1219px) {
  .gallery.gallery--parts {
    flex-wrap: wrap;
  }
  .gallery.gallery--parts .gallery__item {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .gallery.gallery--parts {
    flex-wrap: wrap;
  }
  .gallery.gallery--parts .gallery__item {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery.gallery--parts {
    flex-wrap: wrap;
  }
  .gallery.gallery--parts .gallery__item {
    width: 100%;
  }
}
