.offcanvas {
  position: fixed;
  top: 40px;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: -10px 0 40px 0 rgba(0, 0, 0, 0.1);
  transition: 300ms;
  z-index: 8;
}
.offcanvas.offcanvas--right {
  right: -100%;
}
.offcanvas.offcanvas--right.open {
  right: 0;
}
.offcanvas .offcanvas__container {
  padding: 65px 15px 25px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.offcanvas .offcanvas__close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.offcanvas .offcanvas__close .text {
  margin-right: 10px;
  font-size: 14px;
}
.offcanvas .offcanvas__close .icon {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  font-size: 22px;
  color: #444;
  background: #eee;
  outline: none;
  line-height: 28px;
}
