.paginator {
  position: relative;
  margin: 20px 0;
  text-align: center;
}
.paginator .paginator__item {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 600;
  color: #333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.paginator .paginator__item.active {
  color: #fff;
  background-color: #3486db;
}
.paginator .paginator__item.paginator__item--next {
  padding: 0 10px;
}
.paginator .paginator__item + .paginator__item {
  margin-left: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
}
