.panel {
  position: relative;
  border-radius: 4px;
}
.panel + .panel {
  margin-top: 20px;
}
.panel.panel--sm .panel__content {
  padding: 10px;
}
.panel.panel--sm + .panel--sm {
  margin-top: 10px;
}
.panel.panel--nop .panel__content {
  padding: 0;
}
.panel.panel--shadow {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.panel .panel__header {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  color: #444;
  font-size: .9rem;
  font-weight: 100;
}
.panel .panel__header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-bottom: 1px solid #eee;
}
.panel .panel__header + .panel__content {
  padding-top: 20px;
  border-radius: 0 0 4px 4px;
}
.panel .panel__content {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .panel .panel__content {
    padding: 10px;
  }
}
