.stat .stat__legend {
  text-align: center;
  margin-top: 10px;
}
.stat .stat__legend-item {
  display: inline-block;
  font-size: 0.8rem;
}
.stat .stat__legend-item + .stat__legend-item {
  margin-left: 20px;
}
.stat .stat__legend-item .badge {
  margin-right: 4px;
}
