.tarif {
  position: relative;
}
.tarif .tarif__item + .tarif__item {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #eee;
}
.tarif .tarif__item .checkbox__label {
  padding-left: 30px;
}
.tarif .tarif__item .checkbox__label-title {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  color: #333;
}
.tarif .tarif__item .checkbox__label-desc {
  display: block;
}
