
<div class="container--fluid">
    <div class="grid add">
        <div class="col--xlg-1-1 col--lg-1-1 col--md--1-1 col--sm-1-1 col--xs-1-1">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-person_outline"></i>
                </span>
                <p class="header__title">
                    Редактировать профиль
                </p>
            </div>

            <div class="grid">
                <div class="col--xlg-2-6 col--lg-2-6 col--md-1-2 col--sm-1-2 col--xs-1-1 push--xlg-1-6 push--lg-1-6">
                    <div class="add__group panel panel--shadow">
                        <div class="add__header">
                            <p class="add__header-title">
                                1. Данные пользователя
                            </p>
                        </div>
                        <div>
                            <label class="label">Ваше ФИО</label>
                            <input class="input" type="text">
                        </div>
                        <div>
                            <label class="label">Город</label>
                            <input class="input" type="text">
                        </div>
                        <div>
                            <label class="label">Доставка</label>
                            <textarea class="input input--textarea" rows="6" placeholder="например По Минску: бесплатно По РБ: 300тыс В Россию: 1000 рос.руб."></textarea>
                        </div>
                    </div>
                    
                    <div class="add__group panel panel--shadow">
                        <div class="add__header m--v">
                            <p class="add__header-title">
                                2. Безопасность
                            </p>
                        </div>
                        <div class="clearfix">
                            <span class="badge badge--phone m--r-sm">
                                <i class="icon icon-person_outline"></i>
                            </span>
                            <p class="m--reset t--sm">Ваш логин</p>
                            <span class="link link--dashed t--bold m--t-mini">shipik2008@gmail.com</span>
                        </div>
                        <div class="m--t">
                            <label class="label">Изменить пароль:</label>
                            <div class="input-group input-group--left input-group--icon">
                                <input class="input-group__input input" type="password">
                                <i class="input-group__icon icon icon-mail_outline"></i>
                            </div>
                        </div>

                        <p class="t--c m--t">
                            <a href="javascript:void(0)" class="btn btn--yellow">Применить</a>
                        </p>
                    </div>
                </div>

                <div class="col--xlg-2-6 col--lg-2-6 col--md-1-2 col--sm-1-2 col--xs-1-1 push--xlg-1-6 push--lg-1-6">
                    <div class="add__group panel panel--shadow">
                        <div class="add__header">
                            <p class="add__header-title">
                                3. Контакты
                            </p>
                        </div>
                        <div>
                            <label class="label">Мобильный телефон</label>
                            <div class="input-group input-group--left input-group--icon input-group--btn">
                                <input class="input-group__input input" type="text">
                                <i class="input-group__icon icon icon-phone"></i>

                                <div class="checkbox">
                                    <input class="checkbox__input" id="viber" type="checkbox" name="price">
                                    <label class="checkbox__label checkbox__label--flag" for="viber">
                                        Viber
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" id="whatsapp" type="checkbox" name="price">
                                    <label class="checkbox__label checkbox__label--flag" for="whatsapp">
                                        WhatsApp
                                    </label>
                                </div>
                            </div>
                            <p class="m--reset t--r t--sm t--blue">
                                <a class="link link--line" href="">+ Добавить ещё телефон</a>
                            </p>
                        </div>
                        <div>
                            <label class="label">Email</label>
                            <div class="input-group input-group--left input-group--icon">
                                <input class="input-group__input input" type="email">
                                <i class="input-group__icon icon icon-mail_outline"></i>
                            </div>
                        </div>  
                    </div>
                    <div class="add__group panel panel--shadow">
                        <div class="add__header">
                            <p class="add__header-title">
                                4. Тариф
                            </p>

                            <div class="tarif">
                                <div class="tarif__item">
                                    <div class="checkbox">
                                        <input class="checkbox__input" type="radio" id="item-0" name="tarif" checked>
                                        <label class="checkbox__label" for="item-0">
                                            <span class="checkbox__label-title">Освободи гараж</span>
                                            <span class="checkbox__label-desc">Бесплатный тариф</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tarif__item">
                                    <div class="checkbox">
                                        <input class="checkbox__input" type="radio" id="item-1" name="tarif">
                                        <label class="checkbox__label" for="item-1">
                                            <span class="checkbox__label-title">За клик</span>
                                            <span class="checkbox__label-desc">Оплата за совершенные клики</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tarif__item">
                                    <div class="checkbox">
                                        <input class="checkbox__input" type="radio" id="item-2" name="tarif">
                                        <label class="checkbox__label" for="item-2">
                                            <span class="checkbox__label-title">100 объявлений</span>
                                            <span class="checkbox__label-desc">Eжедневная оплата</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tarif__item">
                                    <div class="checkbox">
                                        <input class="checkbox__input" type="radio" id="item-3" name="tarif">
                                        <label class="checkbox__label" for="item-3">
                                            <span class="checkbox__label-title">250 объявлений</span>
                                            <span class="checkbox__label-desc">Eжедневная оплата</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tarif__item">
                                    <div class="checkbox">
                                        <input class="checkbox__input" type="radio" id="item-4" name="tarif">
                                        <label class="checkbox__label" for="item-4">
                                            <span class="checkbox__label-title">500 объявлений</span>
                                            <span class="checkbox__label-desc">Eжедневная оплата</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col--1-1">
                    <p class="t--c m--v-lg">
                        <a href="" class="btn btn--md btn--white col--xs-1-1 m--t-xs">Отменить</a>
                        <a href="" class="btn btn--md btn--blue col--xs-1-1">Сохранить</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
