
<div class="container--fluid">
    <div class="grid stat">
        <div class="col--xlg-1-1 col--lg-1-1 col--md--1-1 col--sm-1-1 col--xs-1-1">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-ads-2"></i>
                </span>
                <p class="header__title">
                    Новости
                </p>
            </div>

            <div class="grid">
                <div class="col--xlg-3-5 col--lg-3-5 push--xlg-1-5 push--lg-1-5">

                    <div class="news-details">
                        <div class="panel panel--shadow">
                            <div class="panel__content">
                                <h2 class="news-details__title">
                                    Новый раздел "Спецпредложения"
                                </h2>
                                <img class="news-details__img" src="http://static1.1.sqspcdn.com/static/f/1399709/20031176/1346097270513/Triumph-Motorcycle-Repair-Sarasota-Parts.jpg?token=pyqIlB4vyqgekqVkmw26SxUeTmo%3D" alt="">
                                <h3>В каком случае вам может быть интересен этот раздел?</h3>
                                <p class="news-details__text">
                                    Например, вы занимаетесь продажей запчастей к Ford, а у вас оказываются несколько запчастей к Renault. Это не ваша тема
                                    и вы готовы уступить их всех по спеццене (дешевле), но сразу все.
                                </p>
                                <p class="news-details__text">
                                    Или у вас осталось несколько деталей к какой-то марке автомобиля, и вы готовы отдать все сразу, предложив покупателю хорошую
                                    цену.
                                </p>
                                <p class="news-details__text">
                                    А может на крыло, бампер и капот по отдельности у вас цена X руб., но если их возьмут все сразу, то вы согласитесь на цену
                                    0.8X. Ну и конечно здесь идеально размещать объявления о продаже машинокомплектов.
                                </p>
                                <img class="news-details__img" src="http://static1.1.sqspcdn.com/static/f/1399709/20031176/1346097270513/Triumph-Motorcycle-Repair-Sarasota-Parts.jpg?token=pyqIlB4vyqgekqVkmw26SxUeTmo%3D"
                                    alt="">
                                
                                <p class="news-details__text">
                                    Исходя из вышеуказанного, в новый раздел "<a href="">Спецпредложения</a>" принимаются объявления о наборе запчастей к конкретному автомобилю
                                    (одной марки-модели-года выпуска) с обязательным указанием цены всего этого набора. Рекомендуем снабдить объявление достаточным
                                    количеством фотографий и описанием, которое легко позволит понять, что именно предлагается покупателям.
                                </p>
                                
                                <div class="panel-alert panel-alert--blue t--c t--md">
                                    Данное предложение не распространяется на пользователей с бесплатным тарифом "Освободи гараж!"
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
