
<div class="container">
    <div class="grid import">
        <div class="col--xlg-1-1 col--lg-1-1 col--md-1-1 col--sm-1-1 col--xs-1-1">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-dashboard"></i>
                </span>
                <p class="header__title">
                    Импорт
                </p>
            </div>

            <div class="grid grid--md">
                <div class="col--1-1">
                    <div class="panel panel--shadow">
                        <div class="panel__content">
                            <div class='upload upload--empty upload--h'>
                            
                                <div class='upload__content'>
                                    <input class='upload__button' type='file' name='file' accept="image/x-png, image/gif, image/jpeg" />
                                    
                                    <div class="flex flex--middle flex--center">
                                        <div class="m--r-md">
                                            <img class='svg-upload-file' src='content/img/svg/upload/upload-file.svg' alt=''>
                                            <img class='svg-uploading' src='content/img/svg/upload/uploading-file.svg' alt=''>
                                        </div>
                                        <div>
                                            <!--Unselect-->
                                            <p class='upload__status'>Загрузите файл со списком запчастей *.xls или *.csv</p>
                                            <p class='upload__substatus'>Кликните в этой области для выбора файла...</p>
                                            
                                            <!--Select-->
                                            <!-- <p class="t--c hidden">
                                                <button type="button" class="btn btn--success">
                                                    Изменить
                                                </button>
                                                <a class="btn" target="blank">
                                                    Просмотреть фото
                                                </a>
                                            </p> -->
                                        </div>
                                    </div>
                                    
                                    <div class='upload__progress m--t'>
                                        <div class='upload__progress-line' role='progressbar' style='width: 15%;'></div>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m--t-md">
                        <div class="checkbox m--b-sm">
                            <input class="checkbox__input" id="item-all" type="checkbox">
                            <label class="checkbox__label t--bold" for="item-all">Выбрать всё</label>
                        </div>
                    </div>
                    <div class="panel panel--shadow panel--sm">
                        <div class="panel__content">
                            <div class="checkbox checkbox--empty">
                                <input class="checkbox__input" id="item-1" type="checkbox">
                                <label class="checkbox__label" for="item-1"></label>
                            </div>
                            <p>
                                Mercedes
                            </p>
                            <p>
                                A W168
                            </p>
                            <p>
                                Версия
                            </p>
                            <p>
                                2002
                            </p>
                            <p>
                                Объем
                            </p>
                        </div>
                    </div>
                    <div class="panel panel--shadow panel--sm">
                        <div class="panel__content">
                            111
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
