
<div class="container">
    <div class="header m--v">
        <div class="grid">
            <div class="col--3-10">
                <span class="header__icon">
                    <i class="icon icon-dashboard"></i>
                </span>
                <p class="header__title">
                    Дашборд
                </p>
                <p class="header__breadcrumb">
                    <a href="/" class="link link--dashed header__title-text">Главная</a>
                </p>
            </div>
             <div class="col--7-10">
                <div class="header__btn">                    
                    <button class="btn" data-ng-model="showFilter" uib-btn-checkbox>
                        <i class="btn__icon icon-filter_list"></i>
                        <span class="btn__text">Отчёты</span>
                    </button>
                                        
                    <!-- <a href="#!/parts/add" class="btn btn--blue">
                        <i class="btn__icon icon-home"></i>
                        <span class="btn__text">Добавить запчасть</span>
                    </a> -->
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="grid">
        <div class="col--6-10">
            <div class="panel">
                <img src="content/img/dash/stats.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col--3-10">
            <div class="panel">
                <img src="content/img/dash/stats-1.jpg" alt="">
            </div>
        </div>
        <div class="col--3-10">
            <div class="panel">
                <img src="content/img/dash/stats-1.jpg" alt="">
            </div>
        </div>
    </div>
</div> -->
