
<div class="container--fluid">
    <div class="grid stat">
        <div class="col--xlg-2-3 col--lg-2-3 col--md-2-3 col--sm-2-3 col--xs-1-1">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-dashboard"></i>
                </span>
                <p class="header__title">
                    Статистика
                </p>
            </div>

            <div class="grid grid--md">
                <div class="col--1-1">
                    <div class="panel panel--shadow">
                        <div class="panel__content clearfix">
                            <div class="stat__graph">
                                <canvas class="chart chart-bar" height="90" chart-data="data1" chart-labels="labels1" chart-colors="colors" chart-dataset-override="statistic"></canvas>
                    
                                <ul class="stat__legend">
                                    <li class="stat__legend-item">
                                        <i class="badge badge--sm badge--circle" style="background-color: #8bc34a;"></i>
                                        <span>Показы</span>
                                    </li>
                                    <li class="stat__legend-item">
                                        <i class="badge badge--sm badge--circle" style="background-color: #03a9f4;"></i>
                                        <span>Клики</span>
                                    </li>
                                </ul>
                            </div>
                         </div>
                    </div>
                </div>
            </div>

            <div class="grid grid--md">
                <div class="col--1-1">
                    <div class="dash-stat panel panel--sm panel--shadow">
                        <div class="dash-stat__container panel__content clearfix">
                            <div class="dash-stat__item">
                                <div class="dash-stat__icon">
                                    <i class="icon icon-hammer-and-wrench"></i>
                                </div>
                                <div class="dash-stat__content">
                                    <p class="dash-stat__title">Запчасти</p>
                                    <p class="dash-stat__number">12 500
                                        <small class="dash-stat__count">штук</small>
                                    </p>
                                </div>
                            </div>
                            <div class="dash-stat__item">
                                <div class="dash-stat__icon">
                                    <i class="icon icon-balancing"></i>
                                </div>
                                <div class="dash-stat__content">
                                    <p class="dash-stat__title">Шины</p>
                                    <p class="dash-stat__number">100
                                        <small class="dash-stat__count">штук</small>
                                    </p>
                                </div>
                            </div>
                            <div class="dash-stat__item">
                                <div class="dash-stat__icon">
                                    <i class="icon icon-damage"></i>
                                </div>
                                <div class="dash-stat__content">
                                    <p class="dash-stat__title">Аккумуляторы</p>
                                    <p class="dash-stat__number">12
                                        <small class="dash-stat__count">штук</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid--md flex flex--middle">
                <div class="col--xlg-1-2 col--lg-1-2 col--md-1-2 col--sm-1-1 col--xs-1-1">
                    <div class="panel panel--shadow">
                        <div class="panel__header flex flex--middle flex--space-between">
                            <div>
                                 <p class="t--bold m--reset">Получать заявки на Email</p>
                                 <small class="t--muted t--sm">Тогда вы сможете получать заявки на email</small>
                            </div>
                            <div>
                                <a href="" class="">
                                    <i class="icon">i</i>
                                </a>
                            </div>
                        </div>
                        <div class="panel__content">
                            <div class="t--c">
                                <div class="checkbox d--ib">
                                    <input class="checkbox__input" type="checkbox" id="emailSend">
                                    <label for="emailSend" class="checkbox__label">Включить рассылку заявок?</label>
                                </div>
                            </div>
                            <div class="t--c m--t">
                                <a href="" class="btn btn--gray col--xs-1-1">Посмотреть заявки</a>
                                <a href="" class="btn btn--gray col--xs-1-1 m--t-sm-xs">Настроить марки</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col--xlg-1-2 col--lg-1-2 col--md-1-2 col--sm-1-1 col--xs-1-1">
                    <div class="panel panel--shadow">
                        <div class="panel__header flex flex--middle flex--space-between">
                            <div>
                                 <p class="t--bold m--reset">Отображение в списке "Продавцы"</p>
                                 <small class="t--muted t--sm">Тогда вы будете отображаться в списке продавцов</small>
                            </div>
                            <div>
                                <a href="" class="">
                                    <i class="icon">i</i>
                                </a>
                            </div>
                        </div>
                        <div class="panel__content">
                            <div class="m--v t--c">
                                <div class="checkbox d--ib">
                                    <input class="checkbox__input" type="checkbox" id="showSellers">
                                    <label for="showSellers" class="checkbox__label">Отображать в списке "продавцы" ?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--xlg-1-3 col--lg-1-3 col--md--1-3 col--sm-1-1 col--xs-1-1">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-ads-2"></i>
                </span>
                <p class="header__title">
                    Новости
                </p>
            </div>

            <div class="news">
                <div class="panel panel--shadow" data-ng-repeat="item in news">
                    <div class="news__teaser panel__teaser">
                        <div class="news__teaser-overlay"></div>
                        <div class="news__teaser-img" style="background-image: url({{item.img}});"></div>
                        <p class="news__teaser-type">{{item.type}}</p>
                        <p class="news__teaser-title">{{item.title}}</p>
                    </div>
                    <div class="panel__content">
                        <p class="news__date">
                            {{item.date}}
                        </p>
                        <p class="news__text">
                            {{item.text}}
                        </p>
                        <p class="t--r m--t-sm">
                            <a href="#" class="btn btn--gray btn--sm">Подробнее...</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
