
<div class="container--fluid">
    <div class="grid stat">
        <div class="col--2-3">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-dashboard"></i>
                </span>
                <p class="header__title">
                    Статистика
                </p>
            </div>

            <div class="panel panel--shadow">
                <div class="panel__content clearfix">
                    <div class="stat__aside">
                        <a class="stat__aside-link active" href="">
                            <span class="stat__aside-text">Показы и клики</span>
                            <span class="stat__aside-count">312</span>
                        </a>
                        <a class="stat__aside-link" href="">
                            <span class="stat__aside-text">другой параметр</span>
                            <span class="stat__aside-count">45</span>
                        </a>
                    </div>

                    <div class="stat__graph">
                        <canvas class="chart chart-bar" height="90" chart-data="data1" chart-labels="labels1" chart-colors="colors" chart-dataset-override="statistic"></canvas>

                        <ul class="stat__legend">
                            <li class="stat__legend-item">
                                <i class="badge badge--sm badge--circle" style="background-color: #8bc34a;"></i>
                                <span>Показы</span>
                            </li>
                            <li class="stat__legend-item">
                                <i class="badge badge--sm badge--circle" style="background-color: #03a9f4;"></i>
                                <span>Клики</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="dash-stat panel panel--sm panel--shadow">
                <div class="dash-stat__container panel__content clearfix">
                    <div class="dash-stat__item">
                        <div class="dash-stat__icon">
                            <i class="icon icon-hammer-and-wrench"></i>
                        </div>
                        <div class="dash-stat__content">
                            <p class="dash-stat__title">Запчасти</p>
                            <p class="dash-stat__number">12 500 <small class="dash-stat__count">штук</small></p>
                        </div>
                    </div>
                    <div class="dash-stat__item">
                        <div class="dash-stat__icon">
                            <i class="icon icon-balancing"></i>
                        </div>
                        <div class="dash-stat__content">
                            <p class="dash-stat__title">Шины</p>
                            <p class="dash-stat__number">100 <small class="dash-stat__count">штук</small></p>
                        </div>
                    </div>
                    <div class="dash-stat__item">
                        <div class="dash-stat__icon">
                            <i class="icon icon-damage"></i>
                        </div>
                        <div class="dash-stat__content">
                            <p class="dash-stat__title">Аккумуляторы</p>
                            <p class="dash-stat__number">12 <small class="dash-stat__count">штук</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--1-3">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-ads-2"></i>
                </span>
                <p class="header__title">
                    Новости
                </p>
            </div>

            <div class="news">
                <div class="panel panel--shadow" data-ng-repeat="item in news">
                    <div class="news__teaser panel__teaser">
                        <div class="news__teaser-overlay"></div>
                        <div class="news__teaser-img" style="background-image: url({{item.img}});"></div>
                        <p class="news__teaser-type">{{item.type}}</p>
                        <p class="news__teaser-title">{{item.title}}</p>
                    </div>
                    <div class="panel__content">
                        <p class="news__date">
                            {{item.date}}
                        </p>
                        <p class="news__text">
                            {{item.text}}
                        </p>
                        <p class="t--r m--t-sm">
                            <a href="#" class="btn btn--gray btn--sm">Подробнее...</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
