<div class="top-menu">
    
    <!-- <a href="" class="top-menu__menu link link--reset">
        <i class="icon icon-sort"></i>
    </a> -->

    <div class="top-menu__container">
        <div class="container--fluid">
            <div class="grid grid--sm">
                <div class="col--2-10">
                    <div class="logo">
                        <span class="logo__img">B</span>
                        <p class="logo__text">Bamper.by</p>
                        <p class="logo__desc">Личный кабинет ver. 2.0</p>
                    </div>
                </div>
                <div class="col--7-10 breadcrumb breadcrumb--top">
                    <!--Menu-->
                    <div class="breadcrumb__list">
                        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Главная</a></li>
                        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">каталог</a></li>
                        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">запчасти</a></li>
                        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">новые</a></li>
                    </div>
                </div>
                <div class="col--1-10">
                    <div class="top-menu__user">
                        <span class="top-menu__user-avatar avatar avatar--sm avatar--empty"></span>
                        <p class="top-menu__user-name">
                            Джон Дое
                        </p>
                        <span class="top-menu__user-role">
                            менеджер
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>