<div class="top-menu">
    
    <!-- <a href="" class="top-menu__menu link link--reset">
        <i class="icon icon-sort"></i>
    </a> -->

    <div class="top-menu__container">
        <div class="container--fluid">
            <div class="grid grid--sm">
                <div class="col--xlg-2-10 col--lg-2-10 col--md-2-10 col--xs-3-5">
                    <div class="logo">
                        <span class="logo__img">B</span>
                        <p class="logo__text">Bamper.by</p>
                        <p class="logo__desc">Личный кабинет ver. 2.0</p>
                    </div>
                </div>
                <div class="col--xlg-7-10 col--lg-7-10 col--md-7-10 hidden--xs">
                    <!--Menu-->
                    <div class="breadcrumb breadcrumb--top">
                        <div class="breadcrumb__list">
                            <li class="breadcrumb__item">
                                <a href="" class="breadcrumb__link">Главная</a>
                            </li>
                            <li class="breadcrumb__item">
                                <a href="" class="breadcrumb__link">каталог</a>
                            </li>
                            <li class="breadcrumb__item">
                                <a href="" class="breadcrumb__link">запчасти</a>
                            </li>
                            <li class="breadcrumb__item">
                                <a href="" class="breadcrumb__link">новые</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col--xlg-1-10 col--lg-1-10 col--md-1-10 col--xs-2-5">
                    <div class="top-menu__user">
                        <span class="top-menu__user-avatar avatar avatar--sm avatar--empty"></span>
                        <p class="top-menu__user-name">
                            Джон Дое
                        </p>
                        <span class="top-menu__user-role">
                            менеджер
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>