
<div class="container parts add">
    <div class="grid import">
        <div class="col--xlg-3-5 col--lg-3-5 col--md-3-5 col--sm-1-1 col--xs-1-1 push--xlg-1-5 push--lg-1-5 push--md-1-5">
            <div class="header m--v">
                <span class="header__icon">
                    <i class="icon icon-dashboard"></i>
                </span>
                <p class="header__title">
                    Экспорт с сайта
                </p>
            </div>

            <div class="add__group panel panel--shadow">
                <div class="add__header">
                    <p class="add__header-title">
                        1. Выберите категорию
                    </p>
                </div>
                <div class="btn-group btn-group--icon">
                    <a href="" class="btn" data-ng-model="carType" uib-btn-radio="'type1'">
                        <i class="btn__icon icon icon-car-type"></i>
                        <span class="btn__text">Запчасти новые</span>
                    </a>
                    <a href="" class="btn" data-ng-model="carType" uib-btn-radio="'type2'">
                        <i class="btn__icon icon icon-car-type"></i>
                        <span class="btn__text">Запчасти Б/У</span>
                    </a>
                    <a href="" class="btn btn--lg" data-ng-model="carType" uib-btn-radio="'type3'">
                        <i class="btn__icon icon icon-wheel"></i>
                        <span class="btn__text">Шины</span>
                    </a>
                    <a href="" class="btn" data-ng-model="carType" uib-btn-radio="'type4'">
                        <i class="btn__icon icon icon-car-type"></i>
                        <span class="btn__text">Аккумуляторы</span>
                    </a>
                </div>
            </div>
            
            <div class="m--v-lg panel-alert panel-alert--sm panel-alert--blue panel-alert--icon panel-alert--icon-info">
                <p class="panel-alert__text">
                    У вас <b>2,326</b> объявлений.
                </p>
            </div>
            
            <p class="t--c m--t">
                <button class="btn btn--md">Отменить</button>
                <button class="btn btn--blue btn--md">Экспортировать</button>
            </p>

        </div>
    </div>
</div>
