<div>
    <nav id="js-aside" class="aside" data-ng-class="{'open' : Data.isMenuOpenXs}">

        <div id="js-aside-balance" class="aside__balance">
            <div class="aside__balance-content">
                <p class="aside__balance-tarif">« Освободи гараж »</p>
                <p class="aside__balance-price">200 руб.</p>
                <p class="aside__balance-more">
                    <a href="javascript:void(0)" class="link link--reset">пополнить баланс</a>
                </p>
            </div>
        </div>

        <div id="js-aside-menu" class="aside__menu" ng-scrollbars ng-scrollbars-config="config">
            
            <div class="aside__menu-item">
                <a href="#!/parts/used" class="aside__menu-link">
                    <i class="aside__menu-icon icon-hammer-and-wrench"></i>
                    <span class="aside__menu-text">Запчасти Б/У</span>
                    <span class="aside__menu-count">1 234</span>
                    <span class="aside__menu-add">+</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="#!/parts/new" class="aside__menu-link">
                    <i class="aside__menu-icon icon-hammer-and-wrench"></i>
                    <span class="aside__menu-text">Запчасти новые</span>
                    <span class="aside__menu-count">234</span>
                    <span class="aside__menu-add">+</span>
                </a>
            </div>
            <!-- <div class="aside__menu-item aside__menu-item--submenu" data-ng-class="{'hover' : showParts}">
                <a href="#!/parts/used" class="aside__menu-link aside__menu-link--sublink">
                    <span class="aside__menu-text">Б/У</span>
                </a>
                <a href="#!/parts/new" class="aside__menu-link aside__menu-link--sublink">
                    <span class="aside__menu-text">Новые</span>
                    <span class="aside__menu-count">12</span>
                    <span class="aside__menu-add">+</span>
                </a>
            </div> -->
            <div class="aside__menu-item">
                <a href="#!/parts/used" class="aside__menu-link">
                    <i class="aside__menu-icon icon-wheel"></i>
                    <span class="aside__menu-text">Шины</span>
                    <span class="aside__menu-count">234</span>
                    <span class="aside__menu-add">+</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-request"></i>
                    <span class="aside__menu-text">Заявки</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-pie-chart"></i>
                    <span class="aside__menu-text">Статистика</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="#!/import/" class="aside__menu-link">
                    <i class="aside__menu-icon icon-hours"></i>
                    <span class="aside__menu-text">Импорт на сайт</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-settings"></i>
                    <span class="aside__menu-text">Профиль</span>
                </a>
            </div>
        </div>
        <div id="js-aside-footer" class="aside__footer">
            <p class="m--b-sm">
                <a href="/" class="link link--reset">www.bamper.by</a>
            </p>
            <p class="m--reset">
                <a href="mailto:info@bamper.by" class="link link--reset">info@bamper.by</a>
            </p>
        </div>
    </nav>

    <!-- <div data-ng-class="{'open' : showNew}" data-ng-include="'view/ui/aside/new.html'"></div> -->
    <!-- <div data-ng-class="{'open' : showParts}" data-ng-include="'view/ui/aside/parts.html'"></div> -->
</div>