<div>
    <nav class="aside">
        <!--<div class="aside__header">
            <a href="" class="aside__header-link link link--reset">
                <i class="icon icon-sort"></i>
            </a>
        </div>-->

        <div class="aside__balance">
            <div class="aside__balance-content">
                <p class="aside__balance-tarif">« Освободи гараж »</p>
                <p class="aside__balance-price">200 руб.</p>
                <p class="aside__balance-more">
                    <a href="javascript:void(0)" class="link link--reset">пополнить баланс</a>
                </p>
            </div>
            <!-- <a href="" class="aside__balance-payment">
                <i class="icon icon-add"></i>
            </a> -->
        </div>

        <div class="aside__add t--c">
            <a href="" class="btn btn--blue" data-ng-click="showNew = !showNew">
                Добавить
            </a>
        </div>

        <div class="aside__menu">
            <div class="aside__menu-item aside__menu-item--parent active">
                <a href="javascript:void(0);" class="aside__menu-link">
                    <i class="aside__menu-icon icon-ads-2"></i>
                    <span class="aside__menu-text">Объявления</span>
                </a>
            </div>
            <div class="aside__menu-item aside__menu-item--submenu" data-ng-class="{'hover' : showParts}">
                <!-- <a href="" class="aside__menu-link" data-ng-click="showParts = !showParts"> -->
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-air-filter"></i>
                    <span class="aside__menu-text">Запчасти</span>
                </a>
                <a href="#!/parts/new" class="aside__menu-link aside__menu-link--sublink">
                    <span class="aside__menu-text">Новые</span>
                </a>
                <a href="" class="aside__menu-link aside__menu-link--sublink">
                    <span class="aside__menu-text">Б/У</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="#!/parts/used" class="aside__menu-link">
                    <i class="aside__menu-icon icon-wheel"></i>
                    <span class="aside__menu-text">Шины</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-request"></i>
                    <span class="aside__menu-text">Заявки</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-hours"></i>
                    <span class="aside__menu-text">Импорт</span>
                </a>
            </div>
            <div class="aside__menu-item">
                <a href="" class="aside__menu-link">
                    <i class="aside__menu-icon icon-settings"></i>
                    <span class="aside__menu-text">Настройки</span>
                </a>
            </div>
        </div>
    </nav>

    <div data-ng-class="{'open' : showNew}" data-ng-include="'view/ui/aside/new.html'"></div>
    <div data-ng-class="{'open' : showParts}" data-ng-include="'view/ui/aside/parts.html'"></div>
</div>