<div class="overlay overlay--black" data-ng-click="showNew = !showNew"></div>

<nav class="aside aside--submenu aside--new">
    <div class="aside__menu">
        <div class="aside__menu-item">
            <a href="#!/add/part" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-air-filter"></i>
                <span class="aside__menu-text t--semi-bold">Запчасть Б/У</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="#!/add/part" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-air-filter"></i>
                <span class="aside__menu-text t--semi-bold">Запчасть НОВУЮ</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="#!/add/wheel" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-wheel"></i>
                <span class="aside__menu-text t--semi-bold">ШИНЫ</span>
            </a>
        </div>
    </div>
</nav>