<div class="overlay overlay--black" data-ng-click="showParts = !showParts"></div>

<nav class="aside aside--submenu aside--parts">
    <div class="aside__menu">
        <div class="aside__menu-item">
            <a href="#!/parts/new" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-building"></i>
                <span class="aside__menu-text t--semi-bold">Новые</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="#!/parts/used" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-building-key"></i>
                <span class="aside__menu-text t--semi-bold">Б/У</span>
            </a>
        </div>
    </div>
</nav>